# Optional image overrides
EHRBASE_IMAGE=ehrbase/ehrbase:latest
FHIR_IMAGE=hapiproject/hapi:latest

# EHRbase DB
EHRBASE_DB_NAME=ehrbase
EHRBASE_DB_USER=ehrbase
EHRBASE_DB_PASSWORD=ehrbase

# HAPI FHIR DB
FHIR_DB_NAME=hapi
FHIR_DB_USER=hapi
FHIR_DB_PASSWORD=hapi
